@model WebBanNuocUong_TheCoffeeShop.Models.KHUYENMAI
@{
    ViewBag.Title = Model.TENKM;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="product-detail" style="width: 75%">
        <div class="product-detail__left">
            <img src="@Url.Content(Model.ANHKM)" alt="@Model.TENKM" title="@Model.TENKM" class="product-detail__left__img" style="height:80%;" />
        </div>
        <div class="product-detail__right">
            <div class="product-detail__element">
                <h1 class="product-detail__element__heading">@Model.TENKM</h1>

            </div>
            <div class="product-detail__element">
                <span class="product-detail__element__title">
                    Điều kiện:
                </span>
                <span class="product-detail__element__title__data">
                    Đơn hàng lớn hơn @Model.DIEUKIEN
                </span>
            </div>
            <div class="product-detail__element">
                <span class="product-detail__element__title">
                    Số tiền giảm:
                </span>
                <span class="product-detail__element__title__data">
                    @Model.SOTIENGIAM
                </span>
            </div>
            <div class="product-detail__element">
                <span class="product-detail__element__title">
                    Số lượng:
                </span>
                <span class="product-detail__element__title__data">
                    @Model.SOLUONG
                </span>
            </div>
            <div class="product-detail__element column" style="flex-direction: column; align-items: start">
                <span class="product-detail__element__title">
                    Mô tả:
                </span>
                <span class="product-detail__element__title__data">
                    @Model.MOTAKM
                </span>
            </div>
            <div class="product-detail__element">
                <span class="product-detail__element__title">
                    Ngày hết hạn:
                </span>
                <span class="product-detail__element__title__data">
                    @Model.NGAYHETHAN.ToShortDateString()
                </span>
            </div>
        </div>
    </div>
</div>