@model IEnumerable<WebBanNuocUong_TheCoffeeShop.Models.DONHANG>
@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<WebBanNuocUong_TheCoffeeShop.Models.TINHTRANG> tinhTrangs = ViewBag.TINHTRANG;
}

<div class="main-b">
    <div class="content_left-b">
        <div class="categories_sidebar-p" style="box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;">
            <ul class="categories_list-p">
                <li class="categories_item-p">
                    <a href="@Url.Action("ThongTinCaNhan","QuanLy")" class="categories_item_link-p">Thông tin cá nhân</a>
                </li>
                <li class="categories_item-p">
                    <a href="@Url.Action("DanhSachDonHang","QuanLy")" class="categories_item_link-p">Đơn hàng</a>
                </li>
                <li class="categories_item-p">
                    <a href="@Url.Action("DoiMatKhau","QuanLy")" class="categories_item_link-p">Đổi mật khẩu</a>
                </li>
                <li class="categories_item-p">
                    <a href="@Url.Action("DoiTenDangNhap","QuanLy")" class="categories_item_link-p">Đổi tên đăng nhập</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content_right-b" style="background-color:white;">
        <h2 style="color: var(--primary-color);">Đơn hàng</h2>

        <div class="top" style="justify-content: flex-start">
            <span>
                <a href="@Url.Action("DanhSachDonHang")" class="order-status">Tất cả</a>
            </span>
            @foreach (var item in tinhTrangs)
            {
                if (item.MATT > 1)
                {
                    <span>
                        <a href="@Url.Action("DanhSachDonHang", new {@tinhTrang = item.TINHTRANG1})" class="order-status">@item.TINHTRANG1</a>
                    </span>
                }
            }
            <span class="circle-btn" onclick="DisplayWrap('t')"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
        <div class="bottom">
            <div class="categories__data">
                <table class="table">
                    <tr>
                        <th>
                            Mã đơn hàng
                        </th>
                        <th>
                            Thời gian đặt
                        </th>
                        <th>
                            Tổng tiền
                        </th>
                        <th>
                            Tình trạng đơn
                        </th>
                        <th>

                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {

                        <tr class="order-item">
                            <td>
                                @Html.DisplayFor(modelItem => item.MADH)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NGAYLAP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TONGITEN) VNĐ
                            </td>
                            <td>
                                @item.TINHTRANG.TINHTRANG1
                            </td>
                            <td>
                                <a href="@Url.Action("ChiTietDonHang", "DonHang", new {area = "", @MADH = item.MADH})">Xem đơn hàng</a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

    </div>
</div>
<div class="wrap">
    <div class="create-modal modal">
        <span class="close-btn" onclick="HideWrap()">
            <i class="fa-solid fa-xmark"></i>
        </span>
        <div id="timKiem">
            <h2>Tìm kiếm dơn hàng</h2>
            @using (Html.BeginForm("DanhSachDonHang", "QuanLy",  new { enctype = "multipart/form-data",  area = "" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <span class="label">Mã đơn hàng</span>
                    <input type="text" id="tenSP" name="MADH" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" name="create-btn" class="create-btn choose" value="Tìm kiếm" />
                </div>

            }
        </div>
    </div>
</div>
<script>
    var wrap = document.getElementsByClassName('wrap')[0];

    function DisplayWrap(type) {
        wrap.style.display = 'flex';
        document.getElementsByTagName('body')[0].style.overflow = 'hidden';
        if (type == 'l') {
            document.getElementById('loaiSanPham').style.display = 'flex';
        } else if (type == 's') {
            document.getElementById('sanPham').style.display = 'flex';
        } else {
            document.getElementById('timKiem').style.display = 'flex';
        }
    }

    function HideWrap() {
        wrap.style.display = 'none';
        document.getElementsByTagName('body')[0].style.overflow = 'visible';
        document.getElementById('loaiSanPham').style.display = 'none';
        document.getElementById('sanPham').style.display = 'none';
        document.getElementById('timKiem').style.display = 'none';
    }
</script>