@model WebBanNuocUong_TheCoffeeShop.Models.KHUYENMAI

@{
    ViewBag.Title = Model.TENKM;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="product-detail">
        <div class="product-detail__left">
            <img src="@Url.Content(Model.ANHKM)" alt="@Model.TENKM" title="@Model.TENKM" class="product-detail__left__img" />
        </div>
        <div class="product-detail__right">
            <div class="product-detail__element">
                <h1 class="product-detail__element__heading">@Model.TENKM</h1>
                <span class="product-detail__element__btn-wrap">
                    <span class="circle-btn" onclick="DisplayWrap('s')" title="Chỉnh sửa">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </span>
                    <span class="circle-btn" onclick="DisplayWrap('l')" title="Xóa">
                        <i class="fa-solid fa-trash"></i>
                    </span>
                </span>
            </div>
            <div class="product-detail__element">
                <span class="product-detail__element__title">
                    Điều kiện:
                </span>
                <span class="product-detail__element__title__data">
                    Đơn hàng lớn hơn @Model.DIEUKIEN
                </span>
            </div>
            <div class="product-detail__element">
                <span class="product-detail__element__title">
                    Số tiền giảm:
                </span>
                <span class="product-detail__element__title__data">
                    @Model.SOTIENGIAM
                </span>
            </div>
            <div class="product-detail__element">
                <span class="product-detail__element__title">
                    Số lượng:
                </span>
                <span class="product-detail__element__title__data">
                    @Model.SOLUONG
                </span>
            </div>
            <div class="product-detail__element column" style="flex-direction: column; align-items: start">
                <span class="product-detail__element__title">
                    Mô tả:
                </span>
                <span class="product-detail__element__title__data">
                    @Model.MOTAKM
                </span>
            </div>
            <div class="product-detail__element">
                <span class="product-detail__element__title">
                    Ngày hết hạn:
                </span>
                <span class="product-detail__element__title__data">
                    @Model.NGAYHETHAN.ToShortDateString()
                </span>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="create-modal modal">
        <span class="close-btn" onclick="HideWrap()">
            <i class="fa-solid fa-xmark"></i>
        </span>
        <div id="sanPham">
            <h2>Cập nhật sản phẩm</h2>
            @using (Html.BeginForm("ChinhSuaKhuyenMai", "KhuyenMai", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("MAKM")

                <div class="form-group">
                    <span class="label">Tên khuyến mãi:</span>
                    <input type="text" name="TENKM" value="@Model.TENKM" placeholder="Tên khuyến mãi" />
                </div>
                <div class="form-group">
                    <span class="label">Ảnh khuyến mãi:</span>
                    <input type="file" name="ANHKM" value="@Model.ANHKM" />
                </div>
                <div class="form-group">
                    <span class="label">Số tiền giảm:</span>
                    <input type="number" name="SOTIENGIAM" value="@Model.SOTIENGIAM" />
                </div>
                <div class="form-group">
                    <span class="label">Điều kiện:</span>
                    <input type="number" name="DIEUKIEN" value="@Model.DIEUKIEN" />
                </div>
                <div class="form-group">
                    <span class="label">Số lượng:</span>
                    <input type="number" name="SOLUONG" value="@Model.SOLUONG" placeholder="1" />
                </div>
                <div class="form-group">
                    <span class="label">Mô tả khuyến mãi:</span>
                    <input type="text" name="MOTAKM" value="@Model.MOTAKM" />
                </div>
                <div class="form-group">
                    <span class="label">Ngày hết hạn:</span>
                    <input type="date" name="NGAYHETHAN" value="@Model.NGAYHETHAN.ToShortDateString()" />
                </div>
                
                <div class="form-group">
                    <input type="submit" name="create-btn" class="create-btn active" value="Cập nhật" />
                </div>

            }
        </div>
        <div id="loaiSanPham">
            <h2>Xác nhận xóa khuyến mãi</h2>
            @using (Html.BeginForm("XoaKhuyenMai", "KhuyenMai", new { MAKM = Model.MAKM }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <p>Bạn có muốn xóa @Model.TENKM</p>
                </div>
                <div class="form-group" style="display: flex; justify-content:space-evenly">
                    <input type="button" name="create-btn" style="margin: 0; width: 40%;" onclick="HideWrap()" class="create-btn" value="Hủy" />
                    <input type="submit" name="create-btn" style="margin: 0; width: 40%;" class="create-btn active" value="Xóa" />
                </div>
            }
        </div>
    </div>
</div>

<script>
    var wrap = document.getElementsByClassName('wrap')[0];

    function DisplayWrap(type) {
        wrap.style.display = 'flex';
        document.getElementsByTagName('body')[0].style.overflow = 'hidden';
        if (type == 'l') {
            document.getElementById('loaiSanPham').style.display = 'flex';
        } else {
            document.getElementById('sanPham').style.display = 'flex';
        }
    }

    function HideWrap() {
        wrap.style.display = 'none';
        document.getElementsByTagName('body')[0].style.overflow = 'visible';
        document.getElementById('loaiSanPham').style.display = 'none';
        document.getElementById('sanPham').style.display = 'none';
    }
</script>