@model IEnumerable<WebBanNuocUong_TheCoffeeShop.Models.KHUYENMAI>

@{
    ViewBag.Title = "Khuyến Mãi";    
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="content">
        <div class="top">
            <span class="circle-btn" onclick="DisplayWrap('s')"><i class="fa-solid fa-magnifying-glass"></i></span>
            <span class="circle-btn" onclick="DisplayWrap('a')"><i class="fa-regular fa-plus"></i></span>
        </div>
        <div class="categories__data">
            <h2 class="wrap_list-title-c">Danh Sách Khuyến Mãi</h2>
            <ul class="product__list">
                @{
                    foreach (var item in Model)
                    {
                        <li class="product__item">
                            <a href="@Url.Action("ChiTiet", new { @TenKM = item.TENKM})" style="text-decoration: none;">
                                @if (Url.Content(item.ANHKM) != null)
                                {
                                    <img src="@Url.Content(item.ANHKM)" alt="Alternate Text" class="product__item__img" />
                                }
                                <div class="product__item__name">@item.TENKM</div>
                                <div class="product__item__price-c">@item.NGAYHETHAN.ToShortDateString()</div>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="create-modal modal">
        <span class="close-btn" onclick="HideWrap()">
            <i class="fa-solid fa-xmark"></i>
        </span>
        <div id="sanPham">
            <h2>Thêm khuyến mãi mới</h2>
            @using (Html.BeginForm("ThemKhuyenMai", "KhuyenMai", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <span class="label">Tên khuyến mãi:</span>
                    <input type="text" name="TENKM" value="" placeholder="Tên khuyến mãi" />
                </div>
                <div class="form-group">
                    <span class="label">Ảnh khuyến mãi:</span>
                    <input type="file" name="ANHKM" value="" />
                </div>
                <div class="form-group">
                    <span class="label">Điều kiện:</span>
                    <input type="text" name="DIEUKIEN" value="" />
                </div>
                <div class="form-group">
                    <span class="label">Số tiền giảm:</span>
                    <input type="number" name="SOTIENGIAM" value="" />
                </div>
                <div class="form-group">
                    <span class="label">Số lượng:</span>
                    <input type="number" name="SOLUONG" value="" placeholder="1" />
                </div>
                <div class="form-group">
                    <span class="label">Mô tả khuyến mãi:</span>
                    <input type="text" name="MOTAKM" value="" />
                </div>
                <div class="form-group">
                    <span class="label">Ngày hết hạn:</span>
                    <input type="date" name="NGAYHETHAN" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" name="create-btn" class="create-btn active" value="Thêm" />
                </div>
            }
        </div>
    </div>
</div>
<script>
    var wrap = document.getElementsByClassName('wrap')[0];

    function DisplayWrap(type) {
        wrap.style.display = 'flex';
        document.getElementsByTagName('body')[0].style.overflow = 'hidden';
        if (type == 'a') {
            document.getElementById('sanPham').style.display = 'flex';
        } else {
            document.getElementById('timKiem').style.display = 'flex';
        }
    }

    function HideWrap() {
        wrap.style.display = 'none';
        document.getElementsByTagName('body')[0].style.overflow = 'visible';
        document.getElementById('loaiSanPham').style.display = 'none';
        document.getElementById('sanPham').style.display = 'none';
        document.getElementById('timKiem').style.display = 'none';
    }
</script>


