@model IEnumerable<WebBanNuocUong_TheCoffeeShop.Models.DONHANG>

@{

    ViewBag.Title = "Danh mục thống kê";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";



}
<div class="main">
    <div class="categories__sidebar">
        <ul class="categories__list">
            <li class="categories__item">
                <a href="@Url.Action("DanhMucThongKe","ThongKe")" class="categories__item__link">Thống kê ngày</a>
                <a href="@Url.Action("ThongKeTheoThang", "ThongKe")" class="categories__item__link">Thống kê tháng</a>
                <a href="@Url.Action("ThongKeTheoNam", "ThongKe")" class="categories__item__link">Thống kê năm</a>
                @*<a href="@Url.Action("ThongKeTheoNguoiDung", "ThongKe")" class="categories__item__link">Thống kê theo người dùng</a>*@
            </li>
        </ul>
    </div>
    <div class="content">
        @using (Html.BeginForm("DanhMucThongKe", "ThongKe", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group" style="float:right;">
                <input type="date" value="" id="searchString" name="searchString" style="margin-right: 5px; width:80%;" />
                <input type="submit" class="create-btn active" style="cursor:pointer; margin-left: 0;" value="Tìm kiếm " />
            </div>
        }
        <h3 style="float: right; margin-right: 120px; color: var(--primary-color)">Tổng doanh thu: @String.Format("{0:0,0 VNĐ}", Model.Sum(m => m.TONGITEN)) | @Model.Count() đơn hàng </h3>

        <div class="bottom">
            <div class="categories__data">
                <table class="table">
                    <tr>
                        <th>
                            Mã đơn hàng
                        </th>
                        <th>
                            Tên khách hàng
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Tổng tiền
                        </th>
                        <th>

                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr class="order-item">
                            <td>
                                @Html.DisplayFor(modelItem => item.MADH)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TENNGUOINHAN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TONGITEN)
                            </td>
                            <td>
                                <a href="@Url.Action("ChiTietDonHang","DonHang", new { @MADH= item.MADH, area = "Admin"})">Chi tiết</a>
                            </td>
                        </tr>
                    }
                </table>

            </div>
        </div>

    </div>
</div>


