@model IEnumerable<WebBanNuocUong_TheCoffeeShop.Models.DONHANG>

@{
    ViewBag.Title = "DanhMucThongKe";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    decimal s = 0;
    int c = 0;


}
<div class="main">
    <div class="categories__sidebar">
        <ul class="categories__list">
            <li class="categories__item">
                <a href="@Url.Action("DanhMucThongKe", "ThongKe")" class="categories__item__link">Thống kê ngày</a>
                <a href="@Url.Action("ThongKeTheoThang","ThongKe")" class="categories__item__link">Thống kê tháng</a>
                <a href="@Url.Action("ThongKeTheoNam", "ThongKe")" class="categories__item__link">Thống kê năm</a>
                <a href="@Url.Action("ThongKeTheoNguoiDung", "ThongKe")" class="categories__item__link">Thống kê theo người dùng</a>
            </li>
        </ul>
    </div>
    <div class="content">
        @using (Html.BeginForm("ThongKeTheoThang", "ThongKe", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="float:right;">
                <input type="number" value="" id="searchString" name="searchString" style="margin-right: 5px; width:80%;" />
                <input type="submit" class="create-btn active" style="cursor:pointer; margin-left: 0;" value="Tìm kiếm " />
            </div>
        }
        <div class="bottom">
            <div class="categories__data">
                <table class="table">
                    <tr>
                        <th>
                            Mã đơn hàng
                        </th>
                        <th>
                            Tên khách hàng
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Ngày lập
                        </th>
                        <th>
                            Tổng tiền
                        </th>
                        <th>

                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        s += item.TONGITEN;
                        c++;
                <tr class="order-item">
                    <td>
                        @Html.DisplayFor(modelItem => item.MADH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TENNGUOINHAN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NGAYLAP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TONGITEN)
                    </td>
                    <td>
                        <a href="@Url.Action("ChiTietDonHang", new { @MADH= item.MADH})">Chi tiết</a>
                    </td>
                </tr>
                    }
                </table>
                <h3 style="float: right; margin-right: 120px; color: var(--primary-color)">Tổng doanh thu: @String.Format("{0:0,0 VNĐ}", @s) | @c đơn hàng </h3>

            </div>
        </div>
    </div>
    
</div>


