@model IEnumerable<WebBanNuocUong_TheCoffeeShop.Models.DONHANG>

@{
    ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<WebBanNuocUong_TheCoffeeShop.Models.TINHTRANG> tinhTrangs = ViewBag.TINHTRANG;
}


<div class="main">
    <div class="content">
        <div class="top" style="justify-content: flex-start">
            <span>
                <a href="@Url.Action("DanhSachDonHang")" class="order-status">Tất cả</a>
            </span>
            @foreach (var item in tinhTrangs)
            {
                <span>
                    <a href="@Url.Action("DanhSachDonHang", new {@tinhTrang = item.TINHTRANG1})" class="order-status">@item.TINHTRANG1</a>
                </span>
            }
            <span class="circle-btn" onclick="DisplayWrap('t')"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
        <div class="bottom">
            <div class="categories__data">
                <table class="table">
                    <tr>
                        <th>
                            Mã đơn hàng
                        </th>
                        <th>
                            Thời gian đặt
                        </th>
                        <th>
                            Tổng tiền
                        </th>
                        <th>
                            Tình trạng đơn
                        </th>
                        <th>

                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {

                        <tr class="order-item">
                            <td>
                                @Html.DisplayFor(modelItem => item.MADH)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NGAYLAP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TONGITEN) VNĐ
                            </td>
                            <td>
                                @item.TINHTRANG
                            </td>
                            <td>
                                <a href="@Url.Action("ChiTietDonHang", new { @MADH = item.MADH})">Xem đơn hàng</a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="create-modal modal">
        <span class="close-btn" onclick="HideWrap()">
            <i class="fa-solid fa-xmark"></i>
        </span>
        <div id="timKiem">
            <h2>Tìm kiếm dơn hàng</h2>
            @using (Html.BeginForm("TimKiem", "DonHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <span class="label">Mã đon hàng</span>
                    <input type="text" id="tenSP" name="MADH" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" name="create-btn" class="create-btn active" value="Tìm kiếm" />
                </div>

            }
        </div>
    </div>
</div>

<script>
    var wrap = document.getElementsByClassName('wrap')[0];

    function DisplayWrap(type) {
        wrap.style.display = 'flex';
        document.getElementsByTagName('body')[0].style.overflow = 'hidden';
        if (type == 'l') {
            document.getElementById('loaiSanPham').style.display = 'flex';
        } else if (type == 's') {
            document.getElementById('sanPham').style.display = 'flex';
        } else {
            document.getElementById('timKiem').style.display = 'flex';
        }
    }

    function HideWrap() {
        wrap.style.display = 'none';
        document.getElementsByTagName('body')[0].style.overflow = 'visible';
        document.getElementById('loaiSanPham').style.display = 'none';
        document.getElementById('sanPham').style.display = 'none';
        document.getElementById('timKiem').style.display = 'none';
    }
</script>


